@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@font-face{
    font-family: 'Valencia';
    src:url("fonts/Valencia.otf");
    font-weight: normal;
    font-style: normal;
}
